.app {
  font-family: 'Poppins', sans-serif;
  background-size: contain;
  color: #603f8a;
  min-width: 320px;
}

em {
  color: #9d97ff;
  font-style: normal;
}

section {
  background: linear-gradient(
    146deg,
    #cdc5fa 0%,
    31.6555%,
    #ecebfb 63.311%,
    81.6555%,
    #ebd9f7 100%
  );

  & > div {
    display: flex;
    flex-direction: row;
    min-height: 560px;
    height: 100vh;
  }
}

header {
  position: fixed;

  & > div {
    display: flex;
    justify-content: flex-end;
  }
}

section,
header {
  width: 100%;

  & > div {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
    max-width: 1200px;
  }
}

.desc {
  background: white;

  & > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  p {
    color: #9d97ff;
    font-size: 12px;
    text-align: left;
  }
}

h1 {
  font-size: 48px;
  line-height: 48px;
  margin: 0 0 10px;
}

h2 {
  color: white;
  font-size: 17px;
  line-height: 21px;
}

h3 {
  margin-top: 0;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 2px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 360px;
  align-self: center;
}

.links {
  display: flex;
  gap: 3px;
  font-size: 26px;
  align-items: center;
  margin-top: 4px;

  svg {
    fill: #603f8a;
    transition: fill 0.1s linear;

    &:hover {
      fill: #624dc3;
    }
  }
}

.visual {
  background-image: url('../../public/visual.png');
  background-repeat: no-repeat;
  background-size: 620px;
  background-position: calc(100% - 152px) center;
  background-attachment: fixed;
  flex: 1;
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .visual {
    background-size: 50vw;
    background-position: calc(100% - 34px) center;
  }
}

@media screen and (max-width: 900px) {
  header {
    display: none;
  }

  .main > div {
    flex-direction: column-reverse;
    gap: 30px;

    .text {
      width: auto;

      .checkbox label {
        font-size: 12px;
        line-height: 14px;
      }
    }

    .visual {
      flex-shrink: 0;
      flex-basis: 320px;
      background-size: contain;
      background-position: center;
      background-attachment: scroll;
    }
  }

  section > div {
    height: auto !important;
    padding: 30px;
  }
}

.desc .text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 57px;
  width: 100%;

  p {
    flex: 1;
    text-align: center;
    max-width: 260px;
  }

  .checkIcon {
    display: block;
    font-size: 40px;
    margin-bottom: 38px;
    color: #4c1e64;
  }
}

@media screen and (max-width: 800px) {
  .desc .text {
    flex-direction: column;
    align-items: center;
    max-width: 360px;
  }
}

.about {
  & > div {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'image text';
    padding: 40px;
    min-height: auto;
    column-gap: 103px;
  }

  img {
    grid-area: image;
    max-width: 100%;
    border-radius: 30px;
  }

  img + div {
    grid-area: text;
  }

  h3 {
    margin: 41px 0 0;
  }

  p {
    font-size: 19px;
  }
}

@media screen and (max-width: 800px) {
  .about > div {
    grid-template-columns: 1fr;
    grid-template-areas:
      'image'
      'text';
    row-gap: 20px;
  }
}
